/.htaccess
/.htaccess.sample
/.php_cs
/.travis.yml
/CHANGELOG.md
/CONTRIBUTING.md
/CONTRIBUTOR_LICENSE_AGREEMENT.html
/COPYING.txt
/Gruntfile.js
/LICENSE.txt
/LICENSE_AFL.txt
/composer.json
/composer.lock
/index.php
/magento2sample_rcdevweb.sql
/nginx.conf.sample
/package.json
/php.ini.sample

/app/autoload.php
/app/bootstrap.php
/app/functions.php
/app/etc/

/pub/index.php
/pub/cron.php
/pub/get.php
/pub/errors/
/pub/media/

/bin
/dev
/lib
/phpserver
/pub/media
/setup
/update
/var
/vendor

